{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Invoice Details '|trans }} for {{ entity.branch.name }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('sbs_invoice_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Invoice'|trans }}</a>
                            <a href="{{ path('sbs_invoice') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Invoice'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    {% for template in templateItems %}
                                        <td>{{ template.labelName }}</td>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {{ invoiceItems|raw }}
                                </tbody>
                                <tfoot>
                                <tr><th class="text-right" colspan="{{ templateItems|length }}">Total</th><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                <tr><th class="text-right" colspan="{{ templateItems|length }}">VAT</th><td>{{ entity.vat|number_format(2) }}</td></tr>
                                <tr><th class="text-right" colspan="{{ templateItems|length }}">Absence</th><td>{{ entity.absenceAmount|number_format(2) }}</td></tr>
                                <tr><th class="text-right" colspan="{{ templateItems|length }}">Discount</th><td>{{ entity.discount|number_format(2) }}</td></tr>
                                <tr><th class="text-right" colspan="{{ templateItems|length }}">Net Total</th><td>{{ entity.total|number_format(2) }}</td></tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Invoice Information'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p></p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-5">{{ "Invoice No"|trans }}</label>
                                                            <div class="col-md-7">{{ entity.invoiceNo }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-5">{{ "Bill Month"|trans }}</label>
                                                            <div class="col-md-7">{{ entity.month }},20
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-5">{{ "Company Name"|trans }}</label>
                                                            <div class="col-md-7">{{ entity.customer.name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-5">{{ "Branch Name"|trans }}</label>
                                                            <div class="col-md-7">{{ entity.branch.name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-5">{{ "Billing Address"|trans }}</label>
                                                            <div class="col-md-7"><textarea>{{ entity.branch.billingAddress }}</textarea></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                    <div class="card-header grey-bg inner-header" style="margin-bottom: 20px">
                        <h5>Employee Invoice</h5>
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" id="addrow" class="btn btn-sm  blue-bg white-font addmore"><i class="fas fa-plus"></i> Add Employe Invoice</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                    <div class="row">
                                        <div class="col-md-6 form-box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.name) }}
                                                            {{ form_errors(form.name) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.duty, 'Duty'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.duty) }}
                                                            {{ form_errors(form.duty) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.salary, 'Salary', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.salary) }}
                                                            {{ form_errors(form.salary) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.saving, 'Saving'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.saving) }}
                                                            {{ form_errors(form.saving) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.insurance, 'Insurance', {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.insurance) }}
                                                            {{ form_errors(form.insurance) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.remark, 'Remark', {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.remark) }}
                                                            {{ form_errors(form.remark) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="d-flex flex-column">
                                                <div class="p-2"><h5>Additions</h5></div>
                                                {% for addition in additions %}
                                                    <div class="p-2"><span class="col-md-6">{{ addition.name }}</span><span class="col-md-6"><input type="text" id="addition-{{ addition.id }}" name="addition[]" autofocus="autofocus" class="form-control form-control-sm"></span></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="p-2"><h5>Deductions</h5></div>
                                            <div class="d-flex flex-column">
                                                {% for deduction in deductions %}
                                                    <div class="p-2"><span class="col-md-6">{{ deduction.name }}</span><span class="col-md-6"><input type="text" id="deduction-{{ deduction.id }}" name="deduction[]" autofocus="autofocus" class="form-control form-control-sm"></span></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-header grey-bg inner-header" style="margin-bottom: 20px">
                        <h5>Employee Invoice Lists</h5>
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">Employee ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Duty</th>
                                    <th scope="col">Salary</th>
                                    <th scope="col">Addition</th>
                                    <th scope="col">Deduction</th>
                                    <th scope="col"></th>
                                    <th scope="col" ></th>
                                    <th scope="col" ></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in range(0, 10) %}
                                <tr>
                                    <td>12020</td>
                                    <td>12020-Shafiq Islam</td>
                                    <td>AG</td>
                                    <td>10</td>
                                    <td>12000.00</td>
                                    <td>100</td>
                                    <td>50</td>
                                    <td>100</td>
                                    <td>1500</td>
                                    <td>Custome Field-1200,Advance Salary-100</td>
                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdsecuritybilling/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $(".autocomplete2employee").select2({
        placeholder: 'Search for a employee'
    })
    $(".autocomplete2employeexxx").select2({
    ajax: {
    url: Routing.generate('sbs_employee_autocomplete'),
    data: function (params) {
    var query = {
    search: params.term,
    type: 'public'
    }

    // Query parameters will be ?search=[term]&type=public
    return query;
    },
    processResults: function (data) {
        return {
            results: data
        };
    },
    cache: true
    },
    formatSelection: function (item) {
        return item.text
    },
    escapeMarkup: function(markup) {
        return markup;
    },
    placeholder: 'Search for a employee',
    minimumInputLength: 1,
    });

    $(document).on('change', '#dd', function() {

    });
{% endblock %}
