<style>
    table {
        display: table;
        border-collapse: collapse!important;
        border-spacing: 0!important;
        border-color: grey;
    }

    td, th {
        display: table-cell;
        vertical-align: middle;
        text-align: left!important;
    }

    ul , ul li{
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 20px;

    }
    #invoice{
        padding: 30px;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px
    }

    .invoice header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #3989c6;
    }

    .invoice .company-details {
        text-align: right
    }

    .invoice .company-details .name {
        margin-top: 0;
        margin-bottom: 0;
        color: #3989c6;
    }

    .invoice .contacts {
        margin-bottom: 20px
    }

    .invoice .invoice-to {
        text-align: left;
        float: left;

    }

    .invoice .invoice-to .to {
        margin-top: 0;
        margin-bottom: 0
    }

    .invoice .invoice-details {
        text-align: right
    }

    .invoice .invoice-details .invoice-id {
        margin-top: 0;
        color: #3989c6
    }

    .invoice main {
        padding-bottom: 50px
    }

    .invoice main .thanks {
        margin-top:15px;
        font-size: 2em;
        margin-bottom: 30px
    }

    .invoice main .notices {
        padding-left: 6px;
        border-left: 6px solid #3989c6
    }

    .invoice main .notices .notice {
        font-size: 1.2em
    }

    .invoice table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .invoice table td,.invoice table th {
        padding: 5px;
        background: #eee;
        border-bottom: 1px solid #fff
    }

    .invoice table th {
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px
    }

    .invoice table td h3 {
        margin: 0;
        font-weight: 400;
        color: #3989c6;
        font-size: 1.2em
    }

    .invoice table .qty,.invoice table .total,.invoice table .unit {
        text-align: right!important;
        font-size: 1.2em
    }
    .text-right{
        text-align: right!important;
    }


    .invoice table .no {
        color: #000000;
        font-size: 1.6em;
        background: #3989c6
    }

    .invoice table .unit {
        background: #ddd
    }

    .invoice table .total {
        background: #3989c6;
        color: #000000;
    }

    .invoice table tbody tr:last-child td {
        border: none
    }

    .invoice table tfoot td {
        background: 0 0;
        border-bottom: none;
        white-space: nowrap;
        text-align: right;
        font-size: 1.2em;
        border-top: 1px solid #aaa
    }


    .invoice table tfoot tr:first-child td {
        border-top: none
    }

    .invoice table tfoot tr:last-child td {
        color: #000101;
        font-size: 15px;
    }

    .invoice table tfoot tr td:first-child {
        border: none
    }

    .invoice footer {
        width: 100%;
        color: #777;
        border-top: 1px solid #aaa;
        padding: 8px 0
    }

    .invoice footer .left{
        text-align: left;
        float: left;
    }
    .invoice footer .right{
        text-align: right;
        float: right;
    }

    .span{
        margin-left: 15px;
    }

    .span12{
        width: 100%
    }
    .span9{
        width:75%
    }
    .span8{
        width:66.66666667%
    }
    .span6{
        width: 50%
    }
    .span4{
        width: 33.33333333%
    }
    .span3{
        width: 25%
    }
    .span2{
        width: 12.50%
    }
    .span1{
        width: 8.33333333%
    }


    @media print {
        .hidden-print{
            display: none;
        }
        .invoice {
            font-size: 11px!important;
            overflow: hidden!important
        }

        .invoice footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always
        }

        .invoice>div:last-child {
            page-break-before: always
        }

    }
    td, th {
        display: table-cell;
        vertical-align: middle;
        text-align: left!important;
        border: 1px solid #ddd;
    }
</style>
<div style="margin: 0 auto; width: 850px">
    <div style="text-align: center"><h3>Duth Bangla Bank Ltd</h3></div>
    <table>
        <tr>
            {% for template in templateItems %}
              <td>{{ template.labelName }}</td>
            {% endfor %}
        </tr>
        <tbody>
        {{ invoiceItems|raw }}
        </tbody>
    </table>
{#
<table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
    <thead>
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">{{ "Designation"|trans }}</th>
        <th scope="col">Post</th>
        <th scope="col">Number</th>
        <th scope="col">Rate</th>
        <th scope="col">Day Rate</th>
        <th scope="col">Total Day</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    {% if entity.invoiceParticulars is not empty %}
        {% for item in entity.invoiceParticulars %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.service.name }}</td>
                <td>{% if item.subBranch is not empty %}{{ item.subBranch.name }}{% endif %}</td>
                <td>{{ item.deploymentPost }}</td>
                <td>{{ item.price|number_format(2) }}</td>
                <td>{{ item.dayRate|number_format(2) }}</td>
                <td>{{ item.presentDay|number_format(2) }}</td>
                <td>{{ item.subTotal|number_format(2) }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <tfoot>
    <tr><th class="text-right" colspan="7">Total</th><td>{{ entity.subTotal|number_format(2) }}</td></tr>
    <tr><th class="text-right" colspan="7">VAT</th><td>{{ entity.vat|number_format(2) }}</td></tr>
    <tr><th class="text-right" colspan="7">Absence</th><td>{{ entity.absenceAmount|number_format(2) }}</td></tr>
    <tr><th class="text-right" colspan="7">Discount</th><td>{{ entity.discount|number_format(2) }}</td></tr>
    <tr><th class="text-right" colspan="7">Net Total</th><td>{{ entity.total|number_format(2) }}</td></tr>
    </tfoot>
</table>
    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
        <form name="particularform" id="particularform" method="post" class="form-horizontal right"></form>
        <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Duty</th>
            <th scope="col">Salary</th>
            <th scope="col">Savings</th>
            <th scope="col">Insurance</th>
            <th scope="col">Deduction</th>
            <th scope="col">Addtion</th>
            <th scope="col">Payable</th>
            <th scope="col">Remark</th>
        </tr>

        </thead>

        <tbody>
        <tr>
            <td>12020</td>
            <td>12020-Shafiq Islam</td>
            <td>AG</td>
            <td>10</td>
            <td>12000.00</td>
            <td>100</td>
            <td>50</td>
            <td>100</td>
            <td>75  </td>
            <td>1500</td>
            <td>Entolment-75,Advance Salary-(100)</td>
        </tr>
        <tr>
            <td>12020</td>
            <td>120980-Ashim</td>
            <td>AG</td>
            <td>10</td>
            <td>12000.00</td>
            <td>100</td>
            <td>50</td>
            <td>100</td>
            <td>75  </td>
            <td>1500</td>
            <td>Mees Rent-120,Advance Salary-100</td>
        </tr>
        <tr>
            <td>12020</td>
            <td>234-MOINR Islam</td>
            <td>AG</td>
            <td>10</td>
            <td>12000.00</td>
            <td>100</td>
            <td>50</td>
            <td>100</td>
            <td>75  </td>
            <td>1500</td>
            <td>Othrs-50,Advance Salary-100</td>
        </tr>

        </tbody>
    </table>
#}

</div>