{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Service Deployment Setup'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                    <form name="particularform" id="particularform" method="post" class="form-horizontal right">
                                    <thead>
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Branch Name</th>
                                        <th scope="col">Sub-branch Name</th>
                                        <th scope="col">Post Name</th>
                                        <th scope="col">Company Post Name</th>
                                        <th scope="col">Deployment Person</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td colspan="2">
                                            <select required="required" class="form-control form-control-sm select2" name="company" id="company" >
                                                <option value="">--Select Company--</option>
                                                {% for company in companies %}
                                                    <option value="{{ company.id }}" >{{ company.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>

                                        <td>
                                            <select required="required" class="form-control form-control-sm select2" name="branch" id="branch" >
                                                <option value="">--Select Branch--</option>
                                                {% for branch in branches %}
                                                    <option value="{{ branch.id }}" >{{ branch.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>

                                        <td>
                                            <select class="form-control form-control-sm select2" name="subBranch" id="subBranch" >
                                                <option value="">--Select sub-branch--</option>
                                                {% for subBranch in subBranches %}
                                                    <option value="{{ subBranch.id }}" >{{ subBranch.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select required class="form-control form-control-sm select2" name="deploymentPost" id="deploymentPost" >
                                                <option value="">--Select Deployment Post--</option>
                                                {% for service in services %}
                                                    <option value="{{ service.id }}" >{{ service.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" name="companyDeploymentPost" id="companyDeploymentPost" class="form-control form-control-sm" placeholder="Company Deployment Post" value=""  >
                                        </td>
                                        <td><input type="number" required="required" name="quantity" id="quantity" class="form-control form-control-sm" placeholder="No of Person" value=""  ></td>
                                        <td><input type="number" required="required" name="price" id="price" class="form-control form-control-sm" placeholder="Service rate" value=""  ></td>
                                        <td></td>
                                        <td><input class='setupStatus' name="status" id="status" data-action='' type='checkbox'  data-toggle='toggle' checked="checked" data-size='xs' data-style='slow' data-offstyle='warning' data-onstyle='success' data-on='Enabled'  data-off='Disabled'></td>
                                        <td><button type="submit" id="setup" name="setup" class="btn btn-info form-submit btn"><i class="feather icon-plus"></i> ADD</button>
                                        </td>
                                    </tr>
                                    </thead>
                                    </form>
                                    <tbody>
                                    {% for entity in entities %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ entity.company }}</td>
                                        <td>{{ entity.branch }}</td>
                                        <td>{{ entity.subBranch }}</td>
                                        <td>{{ entity.deploymentPost }}</td>
                                        <td>{{ entity.companyDeploymentPost }}</td>
                                        <td>{{ entity.quantity }}</td>
                                        <td>{{ entity.price }}</td>
                                        <td>{{ (entity.price * entity.quantity)|number_format(2) }}</td>
                                        <td><input class='statusx' {% if entity.status == 1 %} checked="checked" {% endif %} name="status-{{ entity.id }}" id="status-{{ entity.id }}" data-action='' type='checkbox'  data-toggle='toggle' data-size='xs' data-style='slow' data-offstyle='warning' data-onstyle='success' data-on='Enabled'  data-off='Disabled'></td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdsecuritybilling/js/script.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
