{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Category Components'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('gmb_category') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-th"></i>{{ 'Category'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Add New Category'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right-sidebar-form right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Item category data setup here</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.itemMode, 'Category Mode'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-4">
                                                                {{ form_widget(form.itemMode) }}
                                                                {{ form_errors(form.itemMode) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.parent, 'Parent'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.parent) }}
                                                                {{ form_errors(form.parent) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.name) }}
                                                                {{ form_errors(form.name) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.generalLedger, 'GL Code'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.generalLedger) }}
                                                                {{ form_errors(form.generalLedger) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.glCode, 'Category Code'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.glCode) }}
                                                                {{ form_errors(form.glCode) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.brand, 'Brand'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.brand) }}
                                                                {{ form_errors(form.brand) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.size, 'Size'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.size) }}
                                                                {{ form_errors(form.size) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.color, 'Color'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.color) }}
                                                                {{ form_errors(form.color) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-6">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                          <h5>Additional Information</h5>
                                          <div class="card-header-right">
                                              <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                  <button type="button" id="addrow" class="btn btn-sm  blue-bg white-font addmore"><i class="fas fa-plus"></i>Add Attributes</button>

                                              </div>
                                          </div>
                                        </div>
                                        <div class="card-body card-body-inner form-box-body">
                                          <div class="col-md-12 clone-block" id="clone-block">
                                              <div class="clone">
                                                  <div class="row">
                                                      <div class="col-md-4">
                                                          <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                          <input type="hidden" name="metaId[]" id="metaId" value="">
                                                      </div>
                                                      <div class="col-md-8">
                                                          <div class="input-group">
                                                              <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter description">
                                                              <div class="input-group-append">
                                                                  <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                      <i class="fa fa-remove"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          {% if entity.categoryMetas is not empty %}
                                              {% for keyValue in entity.categoryMetas %}
                                                  <div class="col-md-12 clone-remove" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                      <div class="row">
                                                          <div class="col-md-4">
                                                              <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                              <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                              <input type="hidden" name="attributeId[]"
                                                                     value="{{ keyValue.id }}">
                                                          </div>
                                                          <div class="col-md-8">
                                                              <div class="input-group">
                                                                  <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                  <div class="input-group-append">
                                                                      <div data-action="{{ path('gmb_category_meta_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font meta-remove">
                                                                          <i class="fas fa-remove"></i>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              {% endfor %}
                                          {% endif %}

                                          <div class="clearfix"></div>
                                      </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-center">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdgeneric/js/paging/category.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
