{% extends 'layout.html.twig' %}
{% block body_id 'sbs_employee_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Service Employee'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('sbs_employee_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Employee'|trans }}</a>
                            <a href="{{ path('sbs_employee') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Service Employee'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                  <div class="card-block">
                      <div class="portlet box green ">
                          <div class="portlet-title">
                              <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage New Employee'|trans }}</div>
                          </div>
                          <div class="portlet-body form">
                              {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                              <div class="row form-body">
                                  <div class="form-inner-no-space">
                                      <div class="row">
                                          <div class="col-md-3"><h4>Employee Information</h4></div>
                                          <div class="col-md-9 form-box-body">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.name, 'Employee Name', {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.name) }}
                                                              {{ form_errors(form.name) }}
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.designation, 'Service Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.designation) }}
                                                              {{ form_errors(form.designation) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.joiningDate, 'Joining Date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.joiningDate) }}
                                                              {{ form_errors(form.joiningDate) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.dob, 'Date of Birth'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.dob) }}
                                                              {{ form_errors(form.dob) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>


                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.nid, 'NID/Passport'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.nid) }}
                                                              {{ form_errors(form.nid) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.bloodGroup, 'Employee ID'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.employeeId) }}
                                                              {{ form_errors(form.employeeId) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.mobile, 'Mobile', {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.mobile) }}
                                                              {{ form_errors(form.mobile) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.email, 'Email Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                              {{ form_widget(form.email) }}
                                                              {{ form_errors(form.email) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-3"><h4>Employee Assign</h4></div>
                                          <div class="col-md-9 form-box-body">

                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.customer, 'Company', {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.customer) }}
                                                              {{ form_errors(form.customer) }}
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="col-md-6"></div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.branch, 'Branch Name', {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.branch) }}
                                                              {{ form_errors(form.branch) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.subBranch, 'Sub-Branch'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.subBranch) }}
                                                              {{ form_errors(form.subBranch) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-3"><h4>About</h4></div>
                                          <div class="col-md-9 form-box-body">

                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.bloodGroup, 'Blood Group', {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.bloodGroup) }}
                                                              {{ form_errors(form.bloodGroup) }}
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.maritalStatus, 'Marital Status'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.maritalStatus) }}
                                                              {{ form_errors(form.maritalStatus) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.location, 'Location', {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.location) }}
                                                              {{ form_errors(form.location) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.gender, 'Gender'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              {{ form_widget(form.gender) }}
                                                              {{ form_errors(form.gender) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.referenceName, 'Reference Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                              {{ form_widget(form.referenceName) }}
                                                              {{ form_errors(form.referenceName) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          {{ form_label(form.referenceMobile, 'Reference Mobile'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                          <div class="col-md-8">
                                                              <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                              {{ form_widget(form.referenceMobile) }}
                                                              {{ form_errors(form.referenceMobile) }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-md-2'}}) }}
                                                          <div class="col-md-10">

                                                              {{ form_widget(form.address, {'attr': {'class': ''}}) }}
                                                          </div>
                                                      </div>


                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          {{ form_label(form.presentAddress, 'Present Address', {'label_attr': {'class': 'col-md-2'}}) }}
                                                          <div class="col-md-10">
                                                              {{ form_widget(form.presentAddress, {'attr': {'class': ''}}) }}
                                                          </div>
                                                      </div>


                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <div class="col-md-2"></div>
                                                          <div class="col-md-10">
                                                              {{ form_widget(form.status, {'attr': {'class': ''}}) }}
                                                          </div>
                                                      </div>


                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="hr-horizontal">&nbsp;</div>
                                      <div class="form-actions">
                                          <div class="col-md-12 text-right">
                                              <div class="btn-group" role="group">
                                                  <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                                  {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                              </div>
                                          </div>
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                              </div>
                              {{ form_widget(form._token) }}
                              {{ form_end(form) }}
                          </div>
                      </div>
                  </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
