{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('gmb_bank_item_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Item'|trans }}</a>
                            <a href="{{ path('gmb_bank_item') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="portlet box green ">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage New Item'|trans }}</div>
                        </div>
                        <div class="portlet-body form">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal main-form right','id':'itemGmbForm'}}) }}
                            <div class="row">
                                <div class="col-md-2"><h4>Item basic Information</h4></div>
                                <div class="col-md-10">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.productGroup, 'Product Group'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.productGroup) }}
                                                        {{ form_errors(form.productGroup) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.category, 'Category'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.category) }}
                                                        {{ form_errors(form.category) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.name, 'Item Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.name) }}
                                                        {{ form_errors(form.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.itemCode, 'Item Code'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.itemCode) }}
                                                        {{ form_errors(form.itemCode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.unit, 'Item Unit & Price Method'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.unit) }}
                                                        {{ form_errors(form.unit) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.priceMethod) }}
                                                        {{ form_errors(form.priceMethod) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.minQuantity, 'Minimum & Re-order Quantity'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.minQuantity) }}
                                                        {{ form_errors(form.minQuantity) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.reorderQuantity) }}
                                                        {{ form_errors(form.reorderQuantity) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.purchasePrice, 'Purchase & Sales Price'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.purchasePrice) }}
                                                        {{ form_errors(form.purchasePrice) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.salesPrice) }}
                                                        {{ form_errors(form.salesPrice) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><h4>Item Type</h4></div>
                                <div class="col-md-10">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.itemType, 'Item Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.itemType) }}
                                                        {{ form_errors(form.itemType) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                            <div class="form-actions form-outer-actions">
                                <div class="col-md-12 text-right">
                                    <div class="btn-group" role="group">
                                        <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>Reset</button>
                                        <button type="submit" id="submitBtn" name="item_form[SaveAndCreate]" class="btn btn-info form-submit btn">Save and Create</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .form .form-outer-actions{
            margin-left: -15px!important;
            margin-right: -15px!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdgeneric/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
